# Step 1: Read file using Pandas and Dask

Note: I am supposed to work with a large dataset of at least 2 GB. My computer had no available free disk memory. I am working with the maximum amount my CPU could handle. I will resubmit this assignment as I free up space on my laptop. 

# Step 2: Compare efficieny of each file reading method or library

In [1]:
import pandas as pd
import dask.dataframe as dd
import time

# Read using pandas
start_time = time.time()
data = pd.read_csv(r"C:\Users\Aya K\Downloads\world_population.csv")
pandas_time = time.time() - start_time

# Read using Dask
start_time = time.time()
dask_data = dd.read_csv(r"C:\Users\Aya K\Downloads\world_population.csv")
dask_time = time.time() - start_time

# Compare the performance
print("Time taken for reading with pandas:", pandas_time)
print("Time taken for reading with Dask:", dask_time)

Time taken for reading with pandas: 0.0
Time taken for reading with Dask: 0.0

## ---> Conclusion: Based on the provided time measurements, Pandas appears to be slightly faster than pandas for reading the given CSV file.

In [2]:
# Before proceeding to step 3 and validating our data: 
# lets display the first few rows to get a quick glimpse of what is needed to be improved

data.head()

,Rank,CCA3,Country_Name,Capital,Continent_Name,2022- Population,2020-Population,2015-Population,2010-Population,2000-Population,1990-Population,1980-Population,1970-Population,Area (km²),Density (per km²),Growth_Rate,World_Population_Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00

## We can notice that we need to remove underscore _ and dash - characters from a few column names, in addition to some white spaces in a few of them.

# Step 3: Perform basic validation on data columns

In [3]:
# Remove leading/trailing whitespaces from column names

data.columns = data.columns.str.strip()

In [4]:
# Replace special characters in column names

data.columns = data.columns.str.replace('[^\w\s]|_', ' ')

C:\Users\Aya K\AppData\Local\Temp\ipykernel_3936\2655536905.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data.columns = data.columns.str.replace('[^\w\s]|_', ' ')

In [5]:
# Verify updated data

data.head()

,Rank,CCA3,Country Name,Capital,Continent Name,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area km²,Density per km²,Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00

In [6]:
# Check for duplicate column names

duplicates = data.columns[data.columns.duplicated()]
if len(duplicates) == 0:
    print("No duplicate column names found.")
else:
    print("Duplicate column names:", duplicates.tolist())

No duplicate column names found.

In [7]:
# Check for duplicate values in the overall data frame

duplicates = data.duplicated()

if duplicates.any():
    print("Duplicates exist in the data frame.")
else:
    print("No duplicates found in the data frame.")

No duplicates found in the data frame.

In [8]:
# Check for null values

Null_Values = data.isnull().sum()

if Null_Values.any():
    print("Null values exist in the data frame.")
    print("Null value counts:")
    print(Null_Values)
else:
    print("No null values exist in the data frame.")

Null values exist in the data frame.
Null value counts:
Rank                           0
CCA3                           0
Country Name                   0
Capital                        0
Continent Name                 0
2022  Population               4
2020 Population                1
2015 Population                4
2010 Population                7
2000 Population                7
1990 Population                5
1980 Population                5
1970 Population                4
Area  km²                      2
Density  per km²               4
Growth Rate                    2
World Population Percentage    0
dtype: int64

In [9]:
# Because there are a few fields with null values: 
# Let's create an indicator to flag the presence of missing variables

# Fill empty fields with "NA"

data_filled = data.fillna("NA")
print(data_filled)

     Rank CCA3       Country Name           Capital Continent Name  \
0      36  AFG        Afghanistan             Kabul           Asia
1     138  ALB            Albania            Tirana         Europe
2      34  DZA            Algeria           Algiers         Africa
3     213  ASM     American Samoa         Pago Pago        Oceania
4     203  AND            Andorra  Andorra la Vella         Europe
..    ...  ...                ...               ...            ...
229   226  WLF  Wallis and Futuna          Mata-Utu        Oceania
230   172  ESH     Western Sahara          El Aaiún         Africa
231    46  YEM              Yemen             Sanaa           Asia
232    63  ZMB             Zambia            Lusaka         Africa
233    74  ZWE           Zimbabwe            Harare         Africa

    2022  Population 2020 Population 2015 Population 2010 Population  \
0         41128771.0      38972230.0      33753499.0      28189672.0
1          2842321.0       2866849.0       2882481.0       2913399.0
2         44903225.0      43451666.0      39543154.0      35856344.0
3            44273.0         46189.0         51368.0         54849.0
4            79824.0         77700.0         71746.0         71519.0
..               ...             ...             ...             ...
229          11572.0         11655.0         12182.0         13142.0
230         575986.0        556048.0        491824.0        413296.0
231       33696614.0      32284046.0      28516545.0      24743946.0
232       20017675.0      18927715.0              NA      13792086.0
233       16320537.0      15669666.0      14154937.0      12839771.0

    2000 Population 1990 Population 1980 Population 1970 Population  \
0        19542982.0      10694796.0      12486631.0      10752971.0
1         3182021.0       3295066.0       2941651.0       2324731.0
2        30774621.0      25518074.0      18739378.0      13795915.0
3           58230.0         47818.0         32886.0         27075.0
4           66097.0         53569.0         35611.0         19860.0
..              ...             ...             ...             ...
229         14723.0         13454.0         11315.0          9377.0
230        270375.0        178529.0        116775.0         76371.0
231      18628700.0      13375121.0       9204938.0       6843607.0
232       9891136.0       7686401.0       5720438.0       4281671.0
233      11834676.0      10113893.0       7049926.0       5202918.0

    Area  km²  Density  per km²  Growth Rate  World Population Percentage
0     652230.0           63.0587      1.0257                         0.52
1      28748.0           98.8702      0.9957                         0.04
2    2381741.0           18.8531      1.0164                         0.56
3        199.0          222.4774      0.9831                         0.00
4        468.0          170.5641        1.01                         0.00
..         ...               ...         ...                          ...
229      142.0            81.493      0.9953                         0.00
230   266000.0            2.1654      1.0184                         0.01
231   527968.0           63.8232      1.0217                         0.42
232   752612.0           26.5976       1.028                         0.25
233   390757.0           41.7665      1.0204                         0.20

[234 rows x 17 columns]

In [10]:
# Check data types of columns

for column in data.columns:
    print(column, "data type:", data[column].dtype)

Rank data type: int64
CCA3 data type: object
Country Name data type: object
Capital data type: object
Continent Name data type: object
2022  Population data type: float64
2020 Population data type: float64
2015 Population data type: float64
2010 Population data type: float64
2000 Population data type: float64
1990 Population data type: float64
1980 Population data type: float64
1970 Population data type: float64
Area  km²  data type: float64
Density  per km²  data type: float64
Growth Rate data type: float64
World Population Percentage data type: float64

In [11]:
# Check to see how my column names look like: 

data.columns

Index(['Rank', 'CCA3', 'Country Name', 'Capital', 'Continent Name',
       '2022  Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area  km² ', 'Density  per km² ',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

In [12]:
# We can notice that there is a few extra white spaces in the Area & Density column names: 

data.columns = data.columns.str.strip().str.replace('\s+', ' ')

# Verify updated columns

data.columns

C:\Users\Aya K\AppData\Local\Temp\ipykernel_3936\89672028.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data.columns = data.columns.str.strip().str.replace('\s+', ' ')

Index(['Rank', 'CCA3', 'Country Name', 'Capital', 'Continent Name',
       '2022 Population', '2020 Population', '2015 Population',
       '2010 Population', '2000 Population', '1990 Population',
       '1980 Population', '1970 Population', 'Area km²', 'Density per km²',
       'Growth Rate', 'World Population Percentage'],
      dtype='object')

In [13]:
# Verify updated data frame 

data.head()

,Rank,CCA3,Country Name,Capital,Continent Name,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area km²,Density per km²,Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00

# Step 4: Create a YAML file with column names and validate number of columns and column names with YAML

In [14]:
import yaml

yaml_file_path = "column_names.yaml"
column_names = list(data.columns)

# Write column names to YAML file
with open(yaml_file_path, 'w') as file:
    yaml.dump(column_names, file)

In [15]:
# Load column names from YAML file
with open(yaml_file_path, 'r') as file:
    yaml_column_names = yaml.load(file, Loader=yaml.FullLoader)

# Validate number of columns
if len(data.columns) == len(yaml_column_names):
    print("Number of columns matches with the YAML file.")
else:
    print("Number of columns does not match with the YAML file.")

# Validate column names
if set(data.columns) == set(yaml_column_names):
    print("Column names match with the YAML file.")
else:
    print("Column names do not match with the YAML file.")

Number of columns matches with the YAML file.
Column names match with the YAML file.

In [16]:
%%writefile testutility.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re


def read_config_file(yaml_file_path):
    with open(yaml_file_path, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)


def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string) 
    return string

def col_header_val(data,table_config):
    '''
    replace whitespaces in the column
    and standardized column names
    '''
    data.columns = data.columns.str.lower()
    data.columns = data.columns.str.replace('[^\w]','_',regex=True)
    data.columns = list(map(lambda x: x.strip('_'), list(data.columns)))
    data.columns = list(map(lambda x: replacer(x,'_'), list(data.columns)))
    expected_col = list(map(lambda x: x.lower(),  table_config['columns']))
    expected_col.sort()
    data.columns =list(map(lambda x: x.lower(), list(data.columns)))
    data = data.reindex(sorted(data.columns), axis=1)
    if len(data.columns) == len(expected_col) and list(expected_col)  == list(data.columns):
        print("column name and column length validation passed")
        return 1
    else:
        print("column name and column length validation failed")
        mismatched_columns_file = list(set(data.columns).difference(expected_col))
        print("Following File columns are not in the YAML file",mismatched_columns_file)
        missing_YAML_file = list(set(expected_col).difference(data.columns))
        print("Following YAML columns are not in the file uploaded",missing_YAML_file)
        logging.info(f'df columns: {data.columns}')
        logging.info(f'expected columns: {expected_col}')
        return 0

Overwriting testutility.py

In [17]:
%%writefile file.yaml

file_type: csv
dataset_name: testfile
file_name: world_population
table_name: edsurv
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - Rank
    - CCA3
    - Country Name
    - Capital
    - Continent Name
    - 2022 Population
    - 2020 Population
    - 2015 Population
    - 2010 Population
    - 2000 Population
    - 1990 Population
    - 1980 Population
    - 1970 Population
    - Area km²
    - Density per km²
    - Growth Rate
    - World Population Percentage

Overwriting file.yaml

In [18]:
# Read config file

import testutility as util
config_data = util.read_config_file("file.yaml")

In [19]:
config_data['inbound_delimiter']

','

In [20]:
#inspecting data of config file

config_data

{'file_type': 'csv',
 'dataset_name': 'testfile',
 'file_name': 'world_population',
 'table_name': 'edsurv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'columns': ['Rank',
  'CCA3',
  'Country Name',
  'Capital',
  'Continent Name',
  '2022 Population',
  '2020 Population',
  '2015 Population',
  '2010 Population',
  '2000 Population',
  '1990 Population',
  '1980 Population',
  '1970 Population',
  'Area kmÂ²',
  'Density per kmÂ²',
  'Growth Rate',
  'World Population Percentage']}

In [21]:
# Normal reading process of the file

import pandas as pd
df_sample = pd.read_csv(r"C:\Users\Aya K\Downloads\world_population.csv", delimiter= ',')
df_sample.head()

,Rank,CCA3,Country_Name,Capital,Continent_Name,2022- Population,2020-Population,2015-Population,2010-Population,2000-Population,1990-Population,1980-Population,1970-Population,Area (km²),Density (per km²),Growth_Rate,World_Population_Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00

In [22]:
#Reading the file using config file

file_type = config_data['file_type']
source_file = "C:/Users/Aya K/Downloads/" + config_data['file_name'] + f'.{file_type}'

In [23]:
data = pd.read_csv(source_file,config_data['inbound_delimiter'])
data.head()

C:\Users\Aya K\AppData\Local\Temp\ipykernel_3936\3010195147.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data = pd.read_csv(source_file,config_data['inbound_delimiter'])

,Rank,CCA3,Country_Name,Capital,Continent_Name,2022- Population,2020-Population,2015-Population,2010-Population,2000-Population,1990-Population,1980-Population,1970-Population,Area (km²),Density (per km²),Growth_Rate,World_Population_Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771.0,38972230.0,33753499.0,28189672.0,19542982.0,10694796.0,12486631.0,10752971.0,652230.0,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321.0,2866849.0,2882481.0,2913399.0,3182021.0,3295066.0,2941651.0,2324731.0,28748.0,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225.0,43451666.0,39543154.0,35856344.0,30774621.0,25518074.0,18739378.0,13795915.0,2381741.0,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273.0,46189.0,51368.0,54849.0,58230.0,47818.0,32886.0,27075.0,199.0,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824.0,77700.0,71746.0,71519.0,66097.0,53569.0,35611.0,19860.0,468.0,170.5641,1.0100,0.00

In [24]:
#validating the header of the file

util.col_header_val(data,config_data)

column name and column length validation failed
Following File columns are not in the YAML file ['continent_name', '1980_population', '2022_population', '2020_population', 'density_per_km²', '1970_population', '2010_population', 'country_name', '2000_population', '2015_population', '1990_population', 'area_km²', 'growth_rate', 'world_population_percentage']
Following YAML columns are not in the file uploaded ['2010 population', '2022 population', 'density per kmâ²', 'growth rate', 'continent name', '1980 population', '2000 population', 'world population percentage', '2015 population', '1990 population', '1970 population', 'area kmâ²', '2020 population', 'country name']

0

In [25]:
print("columns of files are:" ,data.columns)
print("columns of YAML are:" ,config_data['columns'])

columns of files are: Index(['rank', 'cca3', 'country_name', 'capital', 'continent_name',
       '2022_population', '2020_population', '2015_population',
       '2010_population', '2000_population', '1990_population',
       '1980_population', '1970_population', 'area_km²', 'density_per_km²',
       'growth_rate', 'world_population_percentage'],
      dtype='object')
columns of YAML are: ['Rank', 'CCA3', 'Country Name', 'Capital', 'Continent Name', '2022 Population', '2020 Population', '2015 Population', '2010 Population', '2000 Population', '1990 Population', '1980 Population', '1970 Population', 'Area kmÂ²', 'Density per kmÂ²', 'Growth Rate', 'World Population Percentage']

In [26]:
if util.col_header_val(data,config_data)==0:
    print("validation failed")
else:
    print("col validation passed")

column name and column length validation failed
Following File columns are not in the YAML file ['continent_name', '1980_population', '2022_population', '2020_population', 'density_per_km²', '1970_population', '2010_population', 'country_name', '2000_population', '2015_population', '1990_population', 'area_km²', 'growth_rate', 'world_population_percentage']
Following YAML columns are not in the file uploaded ['2010 population', '2022 population', 'density per kmâ²', 'growth rate', 'continent name', '1980 population', '2000 population', 'world population percentage', '2015 population', '1990 population', '1970 population', 'area kmâ²', '2020 population', 'country name']
validation failed

# Step 5: Create a summary of the file

In [36]:
import os

# Total number of rows
total_rows = len(data)

# Total number of columns
total_columns = len(data.columns)

# File size
file_size = os.path.getsize(r'C:\Users\Aya K\Downloads\world_population.csv')

# Print the summary
print("Summary:")
print("Total number of rows:", total_rows)
print("Total number of columns:", total_columns)
print("File size:", file_size, "bytes")

Summary:
Total number of rows: 234
Total number of columns: 17
File size: 28940 bytes